<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824714422882-0jmiekcdh9ond6h1rmeikhov1qpngioo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824714422882-0jmiekcdh9ond6h1rmeikhov1qpngioo</string>
	<key>API_KEY</key>
	<string>AIzaSyAUTqQSdiE_EMecwwsdANQArhr0ocElyqk</string>
	<key>GCM_SENDER_ID</key>
	<string>824714422882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alexanderhallcs.Unscramble-It</string>
	<key>PROJECT_ID</key>
	<string>unscramble-it-6103c</string>
	<key>STORAGE_BUCKET</key>
	<string>unscramble-it-6103c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824714422882:ios:58133ce1baef8d9ca17f3b</string>
	<key>DATABASE_URL</key>
	<string>https://unscramble-it-6103c.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7041973892357973~4379900737</string>
</dict>
</plist>